<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - SocialSage</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="container">
                <!-- flash -->
    <%- include('./addons/layout.ejs') %>
        <h1>Login</h1>
        <form id="loginForm" action="/login" method="post">
            <input type="username" name="username" id="username" placeholder="Username" required>
            <input type="password" name="password" id="password" placeholder="Password" required>
            <button type="submit" class="btn">Login</button>
        </form>        
        <p>Don't have an account? <a href="/signup">Sign up</a></p>
    </div>
</body>
</html>
