<style>
    footer {
    background: #34495e;
    padding: 15px;
    text-align: center;
    font-size: 0.9rem;
    color: #bdc3c7;
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.2);
}
</style>

<div class="footer">
    <p>&copy; <%= new Date().getFullYear() %>  SocialSage. All rights reserved.</p>
</div>
